@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    @Html.ActionLink("Create New", "AddNew")
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pp in Model)
                {
                    <tr data-type="debit" data-id="@pp.Id">
                        <td>
                            @pp.Name
                        </td>
                        <td>
                            @pp.Date.ToString("dd MMM yyy")
                        </td>
                        <td>
                            @pp.Amount
                        </td>
                                                                        <td>
                            @Html.ActionLink("Delete", "Delete", new {id= @pp.Id})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>
